body{
    text-align:center;
    margin: top 200px;
    font-family:Arial;
}
h1{
    font-size:60px;
}
h2{
    color:blue;
}
button{
    padding:15px,30px;
    border:none;
    border-radius:10px;
    cursor:pointer;
}