<!DOCTYPE html>
<html>
    <head>
        <title>About Sprint</title>
        <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    </head>
    <body>
        <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <a href="/signup">Sign up</a>
        <a href="/login">Login</a>  
        <a href="/dashboard">Dashboard</a>
        </nav>
        <div class="container">
            <h1>About Sprint</h1>
            <p>
            Sprint helps you stay organized.
            Learn consistently and achieve your goals.
            This website will help you manage your goals perfectly and 
            stay consistent for your dreams.
            </p>
            <button onclick="window.location.href='/'">
                Back home
            </button>
        </div>
    </body>
</html>