<!DOCTYPE html>
<html>
    <head>
        <title>Contact us</title>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body>
        <div class="menu-btn" onclick="toggleMenu()">
            ☰
        </div>
        <div id="sidebar" class="sidebar">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
            <a href="/signup">Signup</a>
            <a href="/login">Login</a>
            <a href="dashboard">Dashboard</a>
        </div>
        <script>
            function toggleMenu(){
                document
                .getElementById("sidebar")
                .classList
                .toggle("show");
            }
        </script>
        <div class="container">
            <h1>Contact Sprint</h1>
            <p>Email: sprint@gmail.com</p>
            <button onclick="window.location.href='/'">Back home</button>
        </div>
    </body>
</html>