<!DOCTYPE html>
<html>
    <head>
        <title>Create note</title>
        <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    </head>
    <body>
        <div class="menu-btn" onclick="toggleMenu()">
            ☰
        </div>
        <div id="sidebar" class="sidebar">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
            <a href="/signup">Signup</a>
            <a href="/login">Login</a>
            <a href="dashboard">Dashboard</a>
        </div>
        <script>
            function toggleMenu(){
                document
                .getElementById("sidebar")
                .classList
                .toggle("show");
            }
        </script>
        <div class="top-bar">
            <h2>Create Note</h2>
            <a href="{{url_for('logout')}}">
                <button>Logout</button>
            </a>
        </div>
        <div class="note-page">
            <form method="POST">
                <input
                type="text"
                name="title"
                placeholder="Enter title"
                class="title-box"
                required>
                <textarea
                name="content"
                placeholder="Start writing..."
                class="note-box"
                required>
            </textarea>
            <div class="save-area">
                <button type="submit">
                    Save Note
                </button>
            </div>
            </form>
            <p>{{message}}</p>
        </div>
    </body>
</html>