<!doctype html>
<html>
    <head>
    <title>Sprint</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    </head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <a href="/signup">Sign up</a>
        <a href="/login">Login</a>  
        <a href="/dashboard">Dashboard</a>
        </nav>
    <div class="container">
    <h1>Hey!</h1>
    <h2>Welcome to sprint !! </h2>
    <p>Your study companion for learning and growth.</p>
    <button onclick="window.location.href='/about'">Get Started...</button>
    <h2>About Sprint</h2>
    <p>Stay organized , learn consistently , and achieve your goals one sprint at a time .</p>
    </div>
</body>
</html>