<!DOCTYPE html>
<html>
    <head>
        <title>My Notes</title>
        <link rel="stylesheet", href="{{url_for('static',filename='style.css')}}">
    </head>
    <body>
        <div class="container">
            <h1>My Notes</h1>
            {% for note in notes %}
            <div>
                <h3>{{note[0]}}</h3>
                <p>{{note[1]}}</p>
                <hr>
                {% endfor %}
                <a href="/dashboard">
                    <button>
                        Back
                    </button>
                </a>
            </div>
        </div>
    </body>
</html>